<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.movie.mapper.AdvertisementMapper">
    <select id="selectOneAdvertisementByRandom" resultType="advertisement">
        select * from advertisement
        where advertisement_end_time &gt;= now()
        order by  rand() limit 1;
    </select>
</mapper>