<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.movie.mapper.CinemaManagementMapper">
    <select id="selectCinemaManagementByEmail" resultType="cinemaManagement">
        select * from cinema_management where cinema_management_email = #{email}
    </select>
    <insert id="insertCinemaManagement">
        insert into cinema_management
        (cinema_management_id,
         cinema_management_email,
         cinema_management_password,
         cinema_management_profile_picture)
        values
        (#{cinemaManagement.cinemaManagementId},
         #{cinemaManagement.cinemaManagementEmail},
         #{cinemaManagement.cinemaManagementPassword},
         #{cinemaManagement.cinemaManagementProfilePicture})
    </insert>
    <resultMap id="selectAllCinemaManagementMap" type="cinemaManagement">
        <id property="cinemaManagementId" column="cinema_management_id"/>
        <association property="cinemas"
                     column="cinema_management_id"
                     select="com.movie.mapper.CinemaMapper.selectCinemaByCinemaManagementId"/>
    </resultMap>
    <select id="selectAllCinemaManagement" resultMap="selectAllCinemaManagementMap">
        select cinema_management_id,cinema_management_email,cinema_management_profile_picture from cinema_management
    </select>
</mapper>