<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.movie.mapper.MovieMapper">
   <insert id="insertMovie">
       insert into movie
           (movie_id, movie_name, movie_start_time,
            movie_duration, director, star, introduction,
            score, poster_image, issuing_region)
       values
           (#{movie.movieId}, #{movie.movieName}, #{movie.movieStartTime},
            #{movie.movieDuration}, #{movie.director}, #{movie.star}, #{movie.introduction},
            #{movie.score}, #{movie.posterImage}, #{movie.issuingRegion})
   </insert>
    <select id="selectMovieList" resultType="movie">
        select * from movie
        <where>
            <if test="movie.movieId">
                movie_id = #{movie.movieId}
            </if>
            <if test="movie.movieName">
                and movie_name like #{movie.movieName}
            </if>
            <if test="movie.director">
                and director like concat('%', #{movie.director}, '%')
            </if>
            <if test="movie.star">
                and star like concat('%', #{movie.star}, '%')
            </if>
            <if test="movie.issuingRegion">
                and issuing_region like concat('%', #{movie.issuingRegion}, '%')
            </if>
            <if test="already!=null">
                and
                 <if test="already==0">
                    movie_start_time &lt;= now()
                </if>
                <if test="already==1">
                    movie_start_time &gt; now()
                </if>
            </if>
        </where>
    </select>
    <select id="selectMovieById" resultType="movie">
        select * from movie where movie_id = #{movieId}
    </select>
    <update id="updateMovie">
        update movie
        set movie_name=#{movie.movieName},
        movie_start_time=#{movie.movieStartTime},
        movie_duration=#{movie.movieDuration},
        director=#{movie.director},
        star=#{movie.star},
        introduction=#{movie.introduction},
        score=#{movie.score},
        poster_image=#{movie.posterImage},
        issuing_region=#{movie.issuingRegion}
        where movie_id=#{movie.movieId}
    </update>
    <select id="selectSimpleMovieList" resultType="movie">
        select movie_id,movie_name from movie
    </select>
    <select id="selectMovieByMovieId" resultType="movie">
        select * from movie where movie_id=#{moiveId}
    </select>
</mapper>