<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.movie.mapper.SliceArrangementMapper">
    <insert id="insertSliceArrangement">
        insert into slice_arrangement
        (slice_arrangement_id, cinema_id, movie_id, screening_room_id,
         slice_arrangement_start_time, vote_price, layout, slice_arrangement_end_time)
        values
        (#{sliceArrangement.sliceArrangementId},
         #{sliceArrangement.cinemaId},
         #{sliceArrangement.movieId},
         #{sliceArrangement.screeningRoomId},
         #{sliceArrangement.sliceArrangementStartTime},
         #{sliceArrangement.votePrice},
         #{sliceArrangement.layout},
         #{sliceArrangement.sliceArrangementEndTime})
    </insert>
    <select id="selectSliceArrangementByScreeningRoomIdAndBetweenTime" resultType="sliceArrangement">
        select * from slice_arrangement
        where screening_room_id=#{screeningRoomId}
        and (#{startTime} &gt; slice_arrangement_start_time and #{startTime} &lt; slice_arrangement_end_time
        or #{endTime} &gt; slice_arrangement_start_time and #{endTime} &lt; slice_arrangement_end_time
        or #{startTime} &lt;= slice_arrangement_start_time and #{endTime} &lt;= slice_arrangement_end_time)
    </select>
    <resultMap id="selectSliceArrangementBySliceArrangementMap" type="sliceArrangement">
        <id property="sliceArrangementId" column="slice_arrangement_id"/>
        <result property="cinemaId" column="cinema_id"/>
        <result property="movieId" column="movie_id"/>
        <result property="screeningRoomId" column="screening_room_id"/>
        <association property="movie" select="com.movie.mapper.MovieMapper.selectMovieByMovieId"
                     column="movie_id"/>
        <association property="cinema" column="cinema_id"
                     select="com.movie.mapper.CinemaMapper.selectCinemaByCinemaId"/>
        <association property="screeningRoom" column="screening_room_id"
                     select="com.movie.mapper.ScreeningRoomMapper.selectScreeningRoomByScreeningRoomId"/>
    </resultMap>
    <select id="selectSliceArrangementBySliceArrangement" resultMap="selectSliceArrangementBySliceArrangementMap">
        select * from slice_arrangement
        <where>
            <if test="sliceArrangement.sliceArrangementId!=null">
                and slice_arrangement_id=#{sliceArrangement.sliceArrangementId}
            </if>
            <if test="sliceArrangement.cinemaId!=null">
                and cinema_id=#{sliceArrangement.cinemaId}
            </if>
            <if test="sliceArrangement.movieId!=null">
                and movie_id=#{sliceArrangement.movieId}
            </if>
            <if test="sliceArrangement.screeningRoomId!=null">
                and screening_room_id=#{sliceArrangement.screeningRoomId}
            </if>
            <if test="sliceArrangement.sliceArrangementStartTime!=null">
                and slice_arrangement_start_time &gt; #{sliceArrangement.sliceArrangementStartTime}
            </if>
            <if test="sliceArrangement.sliceArrangementEndTime!=null">
                and slice_arrangement_end_time &lt; #{sliceArrangement.sliceArrangementEndTime}
            </if>
        </where>
        order by slice_arrangement_start_time desc
    </select>
    <update id="updateSliceArrangementLayout">
        update slice_arrangement set layout=#{layout} where slice_arrangement_id=#{sliceArrangementId}
    </update>
    <select id="selectLayoutBySliceArrangementId" resultType="String">
        select layout from slice_arrangement where slice_arrangement_id=#{sliceArrangementId}
    </select>
    <select id="selectDetailSliceArrangementBySliceArrangementId" resultMap="selectSliceArrangementBySliceArrangementMap">
        select * from slice_arrangement where slice_arrangement_id=#{sliceArrangementId}
    </select>
    <select id="selectSliceArrangementNumByTime" resultType="int">
        select count(slice_arrangement_id)
        from slice_arrangement
        where slice_arrangement_start_time &gt; #{startTime}
          and slice_arrangement_start_time &lt; #{endTime}
          and cinema_id = #{cinemaId}
    </select>
    <select id="aMonthHasSliceArrangementTotal" resultType="int">
        select count(slice_arrangement_id) from slice_arrangement
        where slice_arrangement_start_time > DATE_SUB(CURDATE(), INTERVAL 1 MONTH)
    </select>
</mapper>