<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.movie.mapper.UserMapper">
    <select id="selectUserByEmail" resultType="user">
        select * from user where user_email = #{userEmail}
    </select>
    <insert id="insertUser">
        insert into user (user_id, user_email, user_password, user_name, user_profile_picture, user_points, user_level, user_state)
        values (#{user.userId},#{user.userEmail},#{user.userPassword},#{user.userName},
                (select global_profile_picture from global_profile_picture order by rand() limit 1)
                ,0,1,0)
    </insert>
</mapper>