<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.movie.mapper.UserMapper">
    <select id="selectUserByEmail" resultType="user">
        select * from user where user_email = #{userEmail}
    </select>
    <insert id="insertUser">
        insert into user (user_id, user_email, user_password, user_name, user_profile_picture, user_points, user_level, user_state)
        values (#{user.userId},#{user.userEmail},#{user.userPassword},#{user.userName},
                (select global_profile_picture from global_profile_picture order by rand() limit 1)
                ,0,1,0)
    </insert>
    <update id="updateUserByUserId">
        update user
        <set>
            <if test="user.userEmail">
                user_email=#{user.userEmail},
            </if>
            <if test="user.userPassword">
                user_password=#{user.userPassword},
            </if>
            <if test="user.userName">
                user_name=#{user.userName},
            </if>
            <if test="user.userProfilePicture">
                user_profile_picture=#{user.userProfilePicture},
            </if>
            <if test="user.userPoints">
                user_points=#{user.userPoints},
            </if>
            <if test="user.userLevel">
                user_level=#{user.userLevel},
            </if>
            <if test="user.userState">
                user_state=#{user.userState},
            </if>
            <if test="user.marketId">
                market_id=#{user.marketId},
            </if>
        </set>
        where user_id=#{user.userId}
    </update>
    <select id="selectUsersByUser" resultType="user">
        select user_id, user_email, user_name, user_profile_picture, user_points, user_level, user_state, market_id
        from user
        <where>
            <if test="user.userId!=null and user.userId!=''">
                and user_id=#{user.userId}
            </if>
            <if test="user.userEmail!=null and user.userEmail!=''">
                and user_email=#{user.userEmail}
            </if>
            <if test="user.userName!=null and user.userName!=''">
                and user_name like #{user.userName}
            </if>
            <if test="user.userProfilePicture!=null and user.userProfilePicture!=''">
                and user_profile_picture=#{user.userProfilePicture}
            </if>
            <if test="user.userPoints!=null and user.userPoints!=''">
                and user_points=#{user.userPoints}
            </if>
            <if test="user.userLevel!=null and user.userLevel!=''">
                and user_level=#{user.userLevel}
            </if>
            <if test="user.userState!=null and user.userState!=''">
                and user_state=#{user.userState}
            </if>
            <if test="user.marketId!=null and user.marketId!=''">
                and market_id=#{user.marketId}
            </if>
        </where>
    </select>
</mapper>